[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# Joker keys
[vars]
banana_farm = "j_aiz_banana_farm"
battle_pass = "j_aiz_battle_pass"
blahaj = "j_aiz_blåhaj"
randomizer = "j_aiz_randomizer"
randomizer_seed = "aiz_randomizer"

# Patch to make banana farm work
# sets forced_key to to forced_key of first banana farm
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = 'function create_card(_type, area, legendary, _rarity, skip_materialize, soulable, forced_key, key_append)'
position = 'after'
payload = '''
local aiz_banana_farm_array = SMODS.find_card('{{lovely:banana_farm}}')
if _type == 'Joker' and next(aiz_banana_farm_array) then
    forced_key = aiz_banana_farm_array[1].ability.extra.forced_key
end
'''
match_indent = true


# Patch to make battle pass work
# currently checks if card used to level up is a consumable
[[patches]]
[patches.pattern]
target = 'functions/common_events.lua'
pattern = '''function level_up_hand(card, hand, instant, amount)
    amount = amount or 1'''
position = 'after'
payload = '''
local aiz_battle_pass_array = SMODS.find_card('{{lovely:battle_pass}}')
if next(aiz_battle_pass_array) and amount >= 1 and card.ability.consumeable == nil then
    for _, other_card in ipairs(aiz_battle_pass_array) do
        amount = amount + other_card.ability.extra.levels
    end
end
'''
match_indent = true


# Patch to allow blåhaj to be bought when all joker slots are full.
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "not (card.ability.set == 'Joker' and #G.jokers.cards < G.jokers.config.card_limit + ((card.edition and card.edition.negative) and 1 or 0)) and"
position = 'after'
payload = "not (card.ability.set == 'Joker' and #G.jokers.cards < G.jokers.config.card_limit + ((card.config.center_key == '{{lovely:blahaj}}') and (card.ability.extra.joker_slots + ((card.edition and card.edition.negative) and 1 or 0)) or 0)) and"
match_indent = true


## randomizer
# Randomize scoring hand
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/utils.lua"]'
match_indent = true
pattern = "for _, card in ipairs(context.cardarea.cards) do"
position = 'at'
payload = '''
local cards = {}
for _, card in ipairs(context.cardarea.cards) do
    table.insert(cards, card)
end
if scoring_hand and next(SMODS.find_card('{{lovely:randomizer}}')) then
	sendInfoMessage("Randomizing")
	for i = #cards, 2, -1 do
		local j = pseudorandom('{{lovely:randomizer_seed}}', 1, i)
		cards[i], cards[j] = cards[j], cards[i]
	end
end
for _, card in ipairs(cards) do
'''
