---
import Layout from "../layouts/Layout.astro";
import CardList from "../components/CardList.astro";
---

<Layout title="Home">
    <main class="grid justify-items-center">
        <CardList />
    </main>
</Layout>
