---
import PixelBorderWrapper from "./PixelBorderWrapper.astro";
import Badge from "./Badge.astro";
import { type jokerData } from "../data/jokers";

interface Props {
    name: jokerData["name"];
    text: jokerData["text"];
    badge: jokerData["badge"];
    anchorName: number;
}
const { name, text, badge, anchorName } = Astro.props;
---

<div
    class="fixed [position-area:bottom]"
    style={`position-anchor: --${anchorName}`}
>
    <PixelBorderWrapper
        classNameOuter="bg-balatro-grey"
        classNameInner="bg-balatro-black-light p-4"
    >
        {name}
        <Badge badge={badge} />
    </PixelBorderWrapper>
</div>
