---
import PixelBorderWrapper from "./PixelBorderWrapper.astro";
import Badge from "./Badge.astro";
import { type jokerData } from "../data/jokers";

interface Props {
    name: jokerData["name"];
    text: jokerData["text"];
    badge: jokerData["badge"];
    anchorName: number;
}
const { name, text, badge, anchorName } = Astro.props;
---

<div
    data-card-info={anchorName}
    class="hidden info-box fixed [position-area:top] [position-try-fallbacks:flip-block] [position-visibility:anchors-visible]"
    style={`position-anchor: --${anchorName}`}
>
    <PixelBorderWrapper
        classNameOuter="bg-balatro-grey"
        classNameInner="bg-balatro-black-light p-4"
    >
        {name}
        <Badge badge={badge} />
    </PixelBorderWrapper>
</div>


<style>
[data-selected],[data-hovered] {
    display: block;
}

[data-selected="false"] {
    display: none;
}
</style>