---
import PixelBorderWrapper from "../components/PixelBorderWrapper.astro";
import { colors } from "../theme.ts";
---

<PixelBorderWrapper
  borderColor={colors.balatro.grey.DEFAULT}
  classNameInner="bg-balatro-black-light p-4"
>
  <p class="text-2xl">
    A mod adding Jokers I thought would be funny, cool, or just felt like
    making.
  </p>
</PixelBorderWrapper>
